<section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All Categories</span> 
                        </div>
                        <div class="mr-md-12">
       
       
        <ul class="list-group">

        <% @categories.each do |category| %>
 
         <li class="row">
          <%= link_to category.category, products_path(:cate => category.id), class: "ml-2" %>
         <div style="margin-left:auto">
         <span class="badge badge-success badge-pill mr-3"><%= category.products.count%></span></div>
         </li>  
        <% end %>
        </ul>
        </div>
        </div></div></div> 
        </div></section>


<!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-9">
                    <div class="hero__item set-bg" data-setbg="/assets/hero/banner.jpg">
                        <div class="hero__text">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Hero Section Ends -->    

<!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/assets/categories/cat-1.jpg">
                            <h5><a href="#">Fresh Fruit</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/assets/categories/cat-2.jpg">
                            <h5><a href="#">Dried Fruit</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/assets/categories/cat-3.jpg">
                            <h5><a href="#">Vegetables</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/assets/categories/cat-4.jpg">
                            <h5><a href="#">drink fruits</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/assets/categories/loga.jpg">
                            <h5><a href="#">drink fruits</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
    <div class="container">
            <div class="row">
                
                
                <div class="container-fluid">
  <div class="row">
  <div class="row mb-3 pt-4 pb-4 mr-1">
  <% @products.each do |product| %>
   <div class="row">
      <div style="width:25px;">
      </div>
   </div>
  <div class="row ml-5 pl-3">
    <%= render product, product: product %>
  </div>
  <% end %>
  </div></div></div>
                
    </section>
    
</body>
 
 <div class="mb-5 pb-5 pl-5 ml-5">
  </div> 

